@page
@model BookingApp.Pages.Booking.CreateModel

@{
ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4 col-sm-12">
        <form method="post" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.FullName" class="control-label"></label>
                <input asp-for="Contract.FullName" class="form-control" required />
                <span asp-validation-for="Contract.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.PhoneNumber" class="control-label"></label>
                <input asp-for="Contract.PhoneNumber" class="form-control" required />
                <span asp-validation-for="Contract.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Email" class="control-label"></label> (không bắt buộc)
                <input asp-for="Contract.Email" class="form-control" />
                <span asp-validation-for="Contract.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>